
/*main and commissions section*/


.tmblr-iframe{
        
        display:none;
        
        
        
    }
 p {
   margin-bottom: 0px;}
 
html {
  scroll-behavior: smooth;
box-sizing: border-box;
    
} 
 *, *:before, *:after {
  box-sizing: inherit;
}
 
 
 body {



 background-image: url("https://github.com/rollanan/rollanan/raw/main/commissions/rect2857.png");
   
   
   background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;

 animation: fadein 2s;
    
 
    }
 
 
 
 
  @keyframes fadein {
    
    
    
    
    
    
    from { opacity: 0;  }
    
50% { opacity: 0;  }
    to   { opacity: 1; }
}
 
 
 
.header {
    margin: 0 auto;
    background: #fff;
    text-align: center;
width:100%;


}
 
 
    
   .container {
      
display: flex;

flex-direction: column;

justify-content: center;

 
  }       
   
    
      .titletext
    {

display:block;

font-weight: bold;
padding: 5px;

text-decoration: none;
 text-align: center;
     border-style:hidden;
 border-width: medium;
 border-color:#711f2b;

 background:#fff;
    font-size:200%;

width: 300px;
        
    }
    
       .pricestext
    {


display:block;
font-weight: bold;
padding: 5px;

text-decoration: none;
 text-align: center;
     border-style:hidden;
 border-width: medium;
 border-color:#711f2b;

 background:#fff;
  width: 300px;
        
    }
   
   
   
   
   
    .ttext2
    {


display:block;
font-weight: bold;
padding: 5px;

text-decoration: none;
 text-align: center;
     border-style:hidden;
 border-width: medium;
 border-color:#711f2b;

 background:#fff;
   
width: 300px !important;
 margin: 0 auto;
        box-sizing:border-box;
    }
   
   
   
   
   
   
   
   
   
   
   
    .ttext
    {


display:block;
font-weight: bold;
padding: 5px;

text-decoration: none;
 text-align: center;
     border-style:hidden;
 border-width: medium;
 border-color:#711f2b;

 background:#fff;
   
width: 500px;

        
    }
    
   
    
    .itext
    {


display:block;

padding: 5px;

text-decoration: none;
 text-align: center;
     border-style:hidden;
 border-width: medium;
 border-color:#711f2b;

 background:#fff;
   
width: 500px;

        
    }
    
    
    
    
  

    
    
    
    
     .borderlink




{
  
display: flex;
justify-content:center;
margin:0 auto;
font-weight: bold;
padding: 5px;
color:#711f2b;
text-decoration: none;
 text-align: center;
 border-style:solid;
 border-width: medium;
 border-color:#711f2b;
 background:#fff;
 transform: scale(0.9);
    transition: transform 0.1s;
max-width: 300px;
width:90%;
    box-sizing:border-box;
}


.borderlink:hover



{

 transform: scale(1.1);

     z-index: 10;
    
} 
    
    
    /*animation shenanigans*/
    .dropcenter {
        
        margin: 50px auto;
        
        text-align:center;
        
         justify-content:center;

        display:flex;
        
        width:90%;
        max-width:500px;

      
        
        
    }
    
    

    
    
    
    
        .dropbtn {
        justify-content:center;
margin:0px auto;

padding: 5px;
color:#711f2b;

 text-align: center;
 
        
        display: block;
        
font-weight:bold;
        
        font-family:         "UVA"        ;
        font-size: x-large;





                max-width: 500px;
             
width:100%;
        padding:5px;




 background:#fff;


                border-style:solid;
 border-width: medium;
 border-color:#711f2b;


        }
    
    
    .dropbtn:hover {
        

        
    }
    
    
    
    
    .dropdown {
        
        
        position: relative;
        
        display: inline-block;
    
        
        
        
    }
    
.droppadder{
    padding:10px;
    
    
    
}


    
    .dropdown-content {
         justify-content:center;
overflow:hidden;
        max-width: 500px;
        padding-left: 5px;
        padding-right:5px
        text-align:center;
  font-weight:normal;

  background-color: #ffffff;
    margin-top:5px
        margin-bottom:5px

  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
        animation: fadeoutbox 0.5s;
    animation-fill-mode: forwards;
        
        
        
        
        
                  border-left:solid;
        border-bottom:solid;
 border-width: medium;
 border-color:#711f2b;
        
        
        
        
    }
    
    .show {display:block;
        
        animation: fadeinbox 0.5s;

    }
    
      @keyframes fadeinbox {
    
    
    
    
    
    
    from { opacity: 0; 
    display:block;
 height:0px;
   
        
        
    }
    

    to   { opacity: 1; 
       display:block;
        height: 1500px;
     
    }
}
 
    
     @keyframes fadeoutbox {
    
    
    
    
    
    
    from { opacity: 1; 
    
 height:500px;
        
        
        
    }
    

    to   { opacity: 0; 
     
        height: 0px;
        display: none;
    }
}
    
        hr.rounded2 {
  border-top: medium solid #711f2b;
width: 100%;
color:#711f2b;
box-sizing:border-box;
}   
   
    /* end of animation shenanigans*/


    
    
    
    
    
    
    
    
    
     hr.rounded {
  border-top: medium solid #711f2b;
width: 150px;
color:#711f2b;
box-sizing:border-box;
}           
    
    

    

    
   .page  {
    color:#711f2b;
    
       display:flex;
      flex-direction: column;
 justify-content:center;
 
 font-family:         "UVA"        ;

word-break: break-word; 
     font-size: x-large;
margin:0;
           
           margin-top:0px;
    margin-bottom: 50px;

       
       
     
       
       
       
       
       
   } 
    
    
    
   
    
    
    
    
    
    
  @media screen and (max-width: 1200px) {
  .page,.dropbtn    {
    font-size: xx-large;
  
      
      
      
  }

      
      
      
      
      
       .ttext   , .ttext2
 {display:flex;
 width:90% !important;
 margin: 0 auto;
    justify-content:center;
      max-width:300px;
 }
 
 
 

 .itext
 
 
  {display:flex;
 width:90%;
 margin: 0 auto;
    justify-content:center;
    flex-direction:column;
 max-width:500px;
 }
 
 
 
 
 
 
 
 .itext2
      
      
      
      
      
      
      
      
      
  }  
    
    
    

    
    
    
    
    
    .part2 {
    display:flex;
    flex-direction:column;

 margin: 0 auto;
    width: 90%;

        max-width:500px!important;

        
        
        
    }
      
 
 
 
            .part2 img {
                box-sizing:border-box;
       display: flex;
max-width:500px!important;
              
                width:100%;
       
        margin: 0 auto;
         margin-top: 50px;
        
        margin-bottom: 50px;
         text-align: center;
    background:#fff;
 padding:10px;
         
     
            
        border-left:solid;
         border-bottom:solid;
 
 border-width: medium;
 border-color:#711f2b;
 background:#fff; 
          
          
            }
      
      
      .part4 {
                
       display: block;

              width:500px;
            
                
       
        margin: 0 auto;
         margin-top: 50px;
        
        margin-bottom: 50px;
         text-align: center;
    background:#fff;
 padding:10px;
         
     
            
        border-left:solid;
         border-bottom:solid;
 
 border-width: medium;
 border-color:#711f2b;
 background:#fff; 
          
          
   

         
            }
      
      .part4link {
          
           color:#711f2b; 
          
      }
   
      
      
        
    
      .part1 {
width:100%;
        margin: 0 auto;
         text-align: center;

color:#711f2b;
 
    }
    
    @media screen and (max-width: 1200px) {
   .part1   {
   
   display:flex;
   flex-direction: column;


   justify-content:center;

  
   }

        
        
        
  


        
        
        
        
        
        
        
        
    }
    
    
      .part3 {

        
        
        max-width: 500px;
        margin: 0 auto;
         text-align: center;


 
 
    }
    
    @media screen and (max-width: 1200px) {
   .part4   {
   
   display:flex;
   flex-direction: column;
    width: 90%;
 max-width: 500px;
   justify-content:center;

  
   }
    

    
    
    }
    /*end of main and commissions section*/
/*if you are reading this right now, you are now obligated to drink water*/
/*start of jade and about*/
      .whydoineedtoaddsomanyclasses {
        
        margin:auto 0;
   margin-right:auto;
        
    }
    
    
    .swrapper{
        display:block;
        width: 100%;
align-items:right;
     text-align: right;

    }
    .swrapinnder {
display: flex; justify-content: flex-end;
    
    }
    
    

    .sdirect {
        
     
        display:flex;
        flex-direction:column;
        margin: auto 0;
        margin:50px;
        text-align:center;

        
        max-width:300px;
        width:90%;
        align-items:center;
    
        
    }
    
    .sdirectory {
        color:#00a467;
            max-width:300px;
font-weight:bold;
margin:auto;
  margin-top: 1em;
  margin-bottom: 1em;
background:#fff;
display:inline-block;
  
  

  
  
    }


    
/*sidebar shenanigans*/
    
    .sidebar {
  height: 100%; 
  width: 0;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;

  transition: 0.5s; 
  z-index:41300;

}



    
    .openbtn {
position:fixed;
top: 0px;
    

        margin-bottom: auto;
  
        border:none;
text-decoration:none;
        display:flex;
        flex-direction:column;
        margin:40px;
        
        transform:scale(0.9);
        transition:0.1s;
        
        
    }
.openbtn:hover{transform:scale(1.1)}
    
    .squiddle{
        color:#711f2b;
        font-family:UVA;
        font-weight: bold;
        font-size: x-large;
  margin-top: 1em;

  background:#fff;
  text-align:center;

    }
    
    .squidwrap {
        overflow:hidden;
        min-width:00px;
        width:100vw;
        max-width:500px;
          padding:10px;
    text-align: center;
   
    }
    .closelink




{
  
display: table;
justify-content:center;
margin:0 auto;
font-weight: bold;
padding: 5px;
color:#711f2b;
text-decoration: none;
 text-align: center;
 border-style:solid;
 border-width: medium;
 border-color:#711f2b;
 background:#fff;
 transform: scale(0.9);
    transition: transform 0.1s;

    box-sizing:border-box;
}

    .closelink:hover



{

 transform: scale(1.1);

     z-index: 10;
    
} 
    

    
    
      @media screen and (max-width: 1200px) {
  .squiddle    {
    font-size: xx-large;
  
      
      
      
  } }
   
   
   
   
   
       /* end sidebar shenanigans*/
   
   
      .sizeicon{

       height: 2em;
margin:auto;

   }
   
   .sizeicon2{

       height: 1.33em;
float:left;
margin-right:auto;
margin-left:auto;
         margin-top: 1em;
  margin-bottom: 1em;
   }
      .sizeicon3{

       height: 1.33em;
float:right;
margin-right:auto;
margin-left:auto;
  margin-top: 1em;
  margin-bottom: 1em;
   }
      .sizeicon4{

       height: 1.5em;
float:right;
margin-top:auto;
          margin-bottom:auto;

   }
    
    
/*end of jade and about*/
    
    
    
